body {
  background-color: #F0F3FF;
  color: #35374B;
  margin: 72px;
}

p {
  line-height: 2.5;
}

ul {
  font-family: sans-serif;
  display: flex;
  justify-content: right ;
  list-style-type: none;
}

li {
  margin: 16px;
}

section {
  padding: 48px 12px;
  min-height: calc(75vh);
}

nav {
  background-color: #F0F3FF;
  position: sticky;
  top: 0px
}